.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h1 {
  @apply text-4xl mt-12 mb-4 leading-snug;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown h4 {
  @apply text-xl mt-6 mb-4 leading-snug;
}

.markdown img {
  @apply my-8;
}

.markdown a {
  @apply text-blue-500 underline;
}
